/**************************************************/
@media (min-width: 992px) and (max-width: 1199px) {

	section.filter-results .list-cntnt .dtls p.descri{

		height: 45px;
	}

	/**/

	section.tour-details ul.itinerary li div{

		max-width: 370px;
	}


	section.tour-details ul.itinerary li:nth-child(n) div div.content{

		width: 265px;

		left: -275px;

		right: unset;
	}

	section.tour-details ul.itinerary li:nth-child(2n) div div.content{

		width: 265px;

		right: -275px;

		left: unset;
	}


}


/**************************************************/
@media (min-width: 768px) and (max-width: 991px) {

	section.filter-bar ul.basic li{

		margin-bottom: 15px;
	}

	section.filter-bar ul.advance-sec{

		padding: 10px 0px;
	}

	section.filter-bar ul.advance-sec li{

		margin: 5px 0px;
	}

	section.filter-bar ul.btn-right{

		margin-top: 0px;
	}

	footer .hours{

		padding-left: 10%;
	}

	/**/


	section.filter-results .list-cntnt .img-box{

		max-width: 175px;
	}

	section.filter-results .list-cntnt .dtls{

		width: calc(100% - 175px);
	}

	section.filter-results .list-cntnt .dtls p.descri{

		height: 85px;
	}

	/**/

	section.tour-details ul.itinerary li:nth-child(n) div div.content{

		width: 175px;

		left: -175px;

		right: unset;
	}

	section.tour-details ul.itinerary li:nth-child(2n) div div.content{

		width: 175px;

		right: -175px;

		left: unset;
	}



}


/**************************************************/
@media (min-width: 0px) and (max-width: 767px) {

	.modal-dialog{

		max-width: unset;
	}

	.navbar-default .navbar-toggle{

		margin-top: 15px;

    	margin-bottom: 15px; 
	}

	header .navbar-default .navbar-brand img{

		max-width: 110px;
	}

	header .navbar-default .navbar-right li{

		text-align: center;
	}


	section.split-home .side-bike,
	section.split-home .side-car{

		width: 100%;

		height: 400px;
	}

	section.split-home h2{

		top: 50%;

	}

	a.btn.skip-btn{

		bottom: 10px;

		left: unset;

	    transform: unset;

	    right: 10px;
	}

	section.filter-bar ul.basic li{

		margin-bottom: 15px;
	}

	section.filter-bar ul.advance-sec{

		padding: 10px 0px;
	}

	section.filter-bar ul.advance-sec li{

		margin: 5px 0px;
	}

	section.filter-bar ul.btn-right{

		margin-top: 0px;
	}

	section.featured .item-cntnt ul li a{

		font-size: 13px;
	}

	footer{

		padding: 100px 0px 20px 0px;
	}

	footer .about, footer .news{

		margin-bottom: 30px;
	}

	/**/

	section.filter-results .list-cntnt .img-box{

		max-width: 175px;
	}

	section.filter-results .list-cntnt .dtls{

		width: calc(100% - 175px);
	}

	section.filter-results .list-cntnt .dtls p.descri{

		height: 85px;
	}
	/**/

	section.tour-details .detl-tabs .tab-content>.tab-pane ul{

		width: 100%;
	}

	/**/

	section.tour-details ul.itinerary li div div.content{

		display: none;
	}

	section.tour-details .detl-tabs .tab-content>.tab-pane ul li{

		padding-left: 160px;
	}




}


/**************************************************/
@media (min-width: 0px) and (max-width: 599px) {

	section.filter-results .list-cntnt .img-box{

		max-width: 175px;
	}

	section.filter-results .list-cntnt .dtls{

		width: calc(100% - 175px);
	}

	section.filter-results .list-cntnt .dtls p.descri{

		height: 45px;
	}

	section.car-bike-pge figure{

		width: 100%;

		max-width: 300px;

		margin: 0 auto;

		float: none;
	}

	section.car-bike-pge .other{

		width: 100%;

		padding-left: 0px;

		margin-top: 30px;
	}

}


/**************************************************/
@media (min-width: 0px) and (max-width: 479px) {

	section.split-home .logo{

		width: 300px;

		height: 110px;
	}

	section.filter-bar ul.basic li{

		width: 50%;
	}

	section.filter-bar ul.btn-right li{

		width: 50%;
	}

	section.who-we ul li a{

		min-width: 115px;
	}

	section.contact-sec form .each-div.special{

		width: 100%;
	}

	footer .about, 
	footer .news,
	footer .hours{

		padding-left: 10px;

		padding-right: 10px;
	}

	footer .about{

		width: 100%;
	}

	/**/

	section.filter-results .list-cntnt .img-box{

		width: 40%;

	}

	section.filter-results .list-cntnt .dtls{

		width: 60%;

		padding-right: 0px;
	}

	section.filter-results .list-cntnt .dtls ul li,
	section.filter-results .moto-list .dtls ul li{

		width: 100%;

		margin-bottom: 10px;
	}

	section.filter-results .list-cntnt .dtls ul li a{

		max-width: 150px;

		margin: 0 auto;
	}

	/**/

	section.tour-details ul.itinerary li div{

		max-width: 290px;
	}

	section.tour-details ul.itinerary li:first-child div{

		height: 159px;
	}

	section.tour-details ul.itinerary li:nth-child(2n) div{

		height: 106px;
	}

	section.tour-details ul.itinerary li:nth-child(n):nth-last-child(2) div{

		height: 159px;
	}

	section.tour-details ul.itinerary li:nth-child(n) div span.dayce{

		padding-left: 90px;

		margin-top: -25px;
	}

	section.tour-details ul.itinerary li:nth-child(2n) div span.dayce{

		padding-right: 90px;

		padding-left: unset;

		margin-top: -25px;
	}

	section.tour-details ul.itinerary li:last-child div span.dayce{

		margin-top: -65px;
	}


	section.tour-details ul.itinerary li:nth-child(n) div figure{

		width: 40px;

		left: 45px;

		right: unset;

		line-height: 40px;

    	font-size: 14px;

    	top: -25px;
	}

	section.tour-details ul.itinerary li:nth-child(2n) div figure{

		width: 40px;

		right: 45px;

		left: unset;

		line-height: 40px;

    	font-size: 14px;
	}

	section.tour-details ul.itinerary li:first-child div figure{

		width: 20px;

		left: 50px;
	}

	section.tour-details ul.itinerary li:last-child div figure{

		margin-top: -45px;
	}

	section.tour-details ul.itinerary li div span.dayce .day{

		font-weight: 600;

    	font-size: 11px;
	}

	section.tour-details ul.itinerary li div span.dayce .place{

		font-weight: 600;

    	font-size: 11px;
	}
	/**/

	section.tour-details .col-xs-12{

		width: 100%;
	}

	section.tour-details .detl-tabs .nav-tabs>li>a{

		padding: 10px 10px;
	}

	section.tour-details .detl-tabs .tab-content>.tab-pane ul li{

		padding-left: 130px;
	}

	section.tour-details .detl-tabs .tab-content>.tab-pane ul li label{

		font-size: 14px;
	}



}