html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**/

p {

  line-height: 1.5em;
}

h2.heading {

  font-family: 'Oswald', sans-serif;

  font-size: 30px;

  letter-spacing: 0.5px;
}

a:hover,
a:focus {

  text-decoration: none;
}

/*****************************/

section.split-home {

  position: relative;

  float: left;

  width: 100%;
}

section.split-home .side-bike {

  position: relative;

  float: left;

  width: 50%;

  height: 100vh;

  background-color: #666;

  background-image: url(../images/home-bike.png);

  background-size: cover;

  background-position: center;
}

section.split-home .side-car {

  position: relative;

  float: left;

  width: 50%;

  height: 100vh;

  background-color: #666;

  background-image: url(../images/home-car.png);

  background-size: cover;

  background-position: center;
}

section.split-home .center {

  position: absolute;

  width: 70%;

  max-width: 280px;

  top: 65%;

  left: 50%;

  transform: translate(-50%, -50%);

  text-align: center;
}

section.split-home .center h3 {

  font-size: 35px;

  font-weight: 700;

  color: #fff;

  text-transform: uppercase;

  margin-bottom: 10px;
}

section.split-home .center p {

  color: #ecf1f5;

  font-size: 12px;

  text-transform: uppercase;
}

section.split-home .center a.btn {

  background-color: #ff6700;

  font-size: 20px;

  font-weight: 600;

  color: #fff;

  text-transform: uppercase;

  padding: 3px 15px;

  margin-top: 10px;

  width: 150px;

  border-radius: 20px;
}

section.split-home .logo {

  position: absolute;

  width: 450px;

  height: 165px;

  top: 0;

  left: 50%;

  transform: translateX(-50%);
}

section.split-home .logo figure {

  position: relative;

  float: left;

  width: 100%;

  height: 100%;

  background-image: url(../images/logo-bg.png);

  background-size: 100%;

  background-repeat: no-repeat;
}

section.split-home .logo figure img {

  position: absolute;

  width: 35%;

  top: 47%;

  left: 50%;

  transform: translate(-50%, -100%);
}

section.split-home h2 {

  font-size: 40px;

  font-weight: 800;

  color: #fff;

  width: 100%;

  text-align: center;

  text-transform: uppercase;

  position: absolute;

  top: 35%;

  left: 50%;

  transform: translate(-50%, -50%);
}

a.btn.skip-btn {

  position: absolute;

  bottom: 30%;

  left: 50%;

  transform: translateX(-50%);

  color: #fff;

  border: 1px solid #fff;

  border-radius: 20px;

  width: 100px;
}

/************************/

header {

  position: relative;

  float: left;

  width: 100%;
}

header .navbar-default {

  background-color: #fff;

  margin-bottom: 0px;
}

header .navbar-default .navbar-right {

  margin: 15px 0px;
}

header .navbar-default .navbar-brand {

  max-width: 175px;
}

header .navbar-default .navbar-brand img {

  width: 100%;
}


header .navbar-default .navbar-nav>li>a {

  color: #162870;

  font-weight: 600;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {

  background-color: transparent !important;

  color: #ff6801;

  border-radius: 25px;
}

.navbar-default .navbar-nav>li>a:hover {

  background-color: #e7e7e7 !important;

  border-radius: 25px;
}

/**/

section.map {

  position: relative;

  float: left;

  width: 100%;

  height: 450px;
}

.gm-style .gm-style-iw {

  width: 400px !important;

  border-radius: 7px;

  overflow: hidden;

}

div#content .heading {

  position: relative;

  float: left;

  width: 100%;

  background-color: #162870;

  padding: 10px;

  color: #fff;
}

div#content .heading h3 {

  font-size: 14px;

  font-weight: 500;

  text-transform: uppercase;

  text-align: center;
}

div#content .img-box {

  position: relative;

  float: left;

  width: 40%;
}

div#content .img-box img {

  width: 100%;
}

div#content .dtls {

  position: relative;

  float: left;

  width: 60%;

  padding: 10px;
}

div#content .dtls h4.name {

  font-size: 15px;

  font-weight: 600;

  text-transform: uppercase;
}

div#content .dtls h5.cntry {

  font-size: 11px;

  margin-top: 3px;
}

div#content .dtls p.descri {

  margin-top: 5px;

  text-align: justify;

  max-height: 60px;

  overflow-y: hidden;
}

div#content .dtls p.days {

  margin-top: 5px;

  font-weight: 600;

  text-transform: uppercase;
}

div#content .dtls p.price {

  font-size: 16px;

  color: #ff6300;

  font-weight: 600;
}

div#content .dtls ul {

  margin-top: 10px;
}

div#content .dtls ul li {

  display: inline-block;

  position: relative;

  float: left;
}

div#content .dtls ul li a {

  display: block;

  position: relative;

  padding: 5px 5px;

  background-color: #ff6300;

  color: #fff;

  border-radius: 3px;

  width: 100%;

  margin: 0 auto;

  text-align: center;
}

/**/

section.filter-bar {

  position: relative;

  float: left;

  width: 100%;

  padding: 20px 0px;

  box-shadow: 0px 0px 7px #999;
}

section.filter-bar ul.basic li {

  position: relative;

  float: left;

  height: 50px;
}

section.filter-bar ul.basic li label {

  color: #12205b;

  font-weight: 600;

  margin-bottom: 5px;

  font-size: 13px;
}

section.filter-bar ul.basic li input,
section.filter-bar ul.basic li select {

  width: 100%;

  border: 1px solid #e5e5e5;

  height: 30px;

  font-size: 13px;

  padding-left: 5px;
}

section.filter-bar ul.basic li.country input {

  padding-right: 30px;
}

section.filter-bar ul.basic li.country span {

  position: absolute;

  bottom: 3px;

  right: 15px;

  width: 14px;

  height: 20px;

  background-image: url(../images/location.png);

  background-size: 12px;

  background-repeat: no-repeat;

  background-position-x: 90%;
}

section.filter-bar ul.basic li.calendar input {

  padding-right: 30px;
}

section.filter-bar ul.basic li.calendar span {

  position: absolute;

  bottom: 2px;

  right: 15px;

  width: 14px;

  height: 20px;

  background-image: url(../images/calendar.png);

  background-size: 14px;

  background-repeat: no-repeat;

  background-position-x: 90%;
}

section.filter-bar ul.basic input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #333;
  opacity: 1;
  /* Firefox */
}

section.filter-bar ul.basic input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #333;
}

section.filter-bar ul.basic input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #333;
}

/**/

section.filter-bar ul.advance-sec {

  display: none;

  position: relative;

  float: left;

  width: 100%;

  padding: 20px 0px;
}

section.filter-bar ul.advance-sec li {

  display: inline-block;

  float: left;

  padding: 0px 10px;

  color: #12205b;

  font-weight: 600;

  font-size: 13px;
}

section.filter-bar ul.advance-sec li input {

  vertical-align: bottom;

  margin-right: 5px;

  height: 14px;

  width: 14px;
}

section.filter-bar ul.advance-sec li select {

  border: 1px solid #e5e5e5;
}


/**/

section.filter-bar ul.btn-right {

  float: right;

  width: 100%;

  margin-top: 15px;
}

section.filter-bar ul.btn-right li {

  float: right;
}


section.filter-bar ul.btn-right li a.btn.filter {

  background-color: #ff6300;

  color: #fff;

  width: 100%;
}

section.filter-bar ul.btn-right li a.btn.advanced {

  color: #12205b;

  width: 100%;

  font-weight: 600;

  font-size: 12px;
}

/***/


section.featured {

  position: relative;

  float: left;

  width: 100%;

  padding: 50px 0px 20px 0px;

  z-index: 1;
}

section.featured:after {

  position: absolute;

  width: 100%;

  height: 100%;

  content: "";

  background: #fff;

  z-index: -1;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  transform-origin: top left;

  transform: skewY(5deg);
}

section.featured h2.heading {

  text-align: center;

  margin-bottom: 30px;

  color: #12205b;

  text-transform: uppercase;
}

section.featured .item .item-inn {

  position: relative;

  float: left;

  width: 100%;

  box-shadow: 1px 1px 5px #ccc;

  margin: 3px;
}

section.featured .item-inn p.item-price {

  padding: 5px 10px;

  background-color: #12205b;

  color: #fff;

  font-size: 24px;

  font-weight: 600;
}


.item-cntnt .star-ratings-css {

  position: relative;

  float: left;

  width: 100%;

  height: 16px;

  padding: 0px;

  margin: 10px 0px;

  clear: both;
}


.item-cntnt .star-ratings-css-top {

  display: block;

  position: absolute;

  top: 0;

  left: 0;

  color: #feaa04;

  padding: 0;

  overflow: hidden;

  z-index: 1;
}

.item-cntnt .star-ratings-css-top .fa {

  color: #feaa04;

  font-size: 16px;
}

.item-cntnt .star-ratings-css-bottom {

  padding: 0;

  display: block;

  z-index: 0;
}

.item-cntnt .star-ratings-css-bottom .fa {

  color: #feaa04;

  font-size: 16px;
}

section.featured .item-cntnt {

  position: relative;

  float: left;

  width: 100%;

  padding: 20px 15px;
}

section.featured .item-cntnt h3 {

  font-size: 20px;

  font-weight: 600;
}

section.featured .item-cntnt p {

  position: relative;

  float: left;

  width: 100%;

  text-align: justify;

  margin: 10px 0px 20px 0px;
}

section.featured .item-cntnt ul {

  margin-top: 10px;
}

section.featured .item-cntnt ul li {

  display: inline-block;

  position: relative;

  float: left;
}

section.featured .item-cntnt ul li a {

  display: block;

  position: relative;

  padding: 7px 5px;

  background-color: #ff6300;

  color: #fff;

  border-radius: 3px;

  width: 100%;

  max-width: 140px;

  margin: 0 auto;

  text-align: center;
}

section.featured .owl-dots {

  display: none;
}



/**/

div.full-bg {

  position: relative;

  float: left;

  width: 100%;

  min-height: 600px;

  background-image: url(../images/home-bg-img.png);

  background-repeat: no-repeat;

  background-size: cover;

  background-position: center;

  background-attachment: fixed;
}

/**/

section.who-we {

  position: relative;

  float: left;

  width: 100%;

  padding: 200px 0px;
}

section.who-we h2.heading {

  color: #fff;

  text-align: center;

  text-transform: uppercase;

  margin-bottom: 30px;
}

section.who-we h3 {

  color: #fff;

  font-size: 18px;

  text-align: center;

  text-transform: uppercase;

  margin-bottom: 15px;

  font-weight: 600;

  line-height: 1.3em;
}

section.who-we p {

  color: #fff;

  text-align: justify;
}

section.who-we ul {

  text-align: center;

  margin-top: 30px;
}

section.who-we ul li {

  display: inline-block;

  padding: 0px 15px;
}

section.who-we ul li a {

  display: block;

  background-color: #fff;

  font-weight: 600;

  padding: 12px 20px;

  min-width: 120px;

  border-radius: 7px;

  text-align: center;

  text-transform: uppercase;

  color: #12205b;

  font-size: 13px;
}

/**/


section.contact-sec {

  position: relative;

  float: left;

  width: 100%;

  padding: 50px 0px 20px 0px;

  z-index: 1;

  background-color: #fff;
}

section.contact-sec:before {

  position: absolute;

  width: 100%;

  height: 100%;

  content: "";

  background: #fff;

  z-index: -1;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  transform-origin: top right;

  transform: skewY(5deg);
}

section.contact-sec:after {

  position: absolute;

  width: 100%;

  height: 100%;

  content: "";

  background: #fff;

  z-index: -1;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  transform-origin: top left;

  transform: skewY(5deg);
}

section.contact-sec h2 {

  color: #12205b;

  font-size: 35px;

  text-transform: uppercase;

  margin-bottom: 15px;

}

section.contact-sec p {

  color: #12205b;

  text-align: justify;
}

section.contact-sec form {

  padding: 15px 0px;
}

section.contact-sec form .each-div {

  margin-top: 20px;
}

section.contact-sec .each-div label {

  color: #12205b;

  text-transform: uppercase;

  font-size: 15px;

  font-weight: 700;

  margin-bottom: 10px;
}

section.contact-sec .each-div label em {

  color: red;
}

section.contact-sec .each-div input,
section.contact-sec .each-div textarea {

  min-height: 30px;

  border: 0px;

  border-bottom: 1px solid #ccc;

  width: 100%;

  font-size: 13px;
}

section.contact-sec .each-div a.btn {

  background-color: #ff6300;

  color: #fff;

  float: right;

  margin-top: 10px;

  min-width: 150px;

  font-weight: 600;

  text-transform: uppercase;

  font-size: 13px;

  padding: 10px 15px;
}

/**/



/**/

footer {

  position: relative;

  float: left;

  width: 100%;

  padding: 150px 0px 50px 0px;
}

footer .logo img {

  width: 200px;

  float: left;

  margin-bottom: 40px;
}

footer h4 {

  font-size: 16px;

  text-transform: uppercase;

  color: #fff;

  margin-bottom: 25px;

  font-family: 'Oswald', sans-serif;

  letter-spacing: 0.5px;
}

footer .about {

  padding-right: 5%;
}

footer .about p {

  color: #fff;

  font-size: 13px;

  line-height: 2em;
}

footer .news {

  padding-right: 5%;
}

footer .news .each-news {

  position: relative;

  float: left;

  width: 100%;

  margin-bottom: 15px;
}

footer .news .each-news h5 {

  font-weight: 600;

  color: #fff;

  font-style: italic;

  font-size: 13px;

  line-height: 2em;
}

footer .news .each-news p {

  color: #fff;

  text-transform: uppercase;

  opacity: 0.9;
}

footer .hours {

  padding-left: 20%;
}

footer .hours p.head {

  color: #ff6300;

  font-size: 13px;

  line-height: 2em;
}

footer .hours p.time {

  color: #fff;

  font-size: 13px;

  line-height: 2em;
}

/**/

.sub-footer {

  position: relative;

  float: left;

  width: 100%;

  padding: 20px 0px;

  background-color: #ff6300;

  text-align: center;

  color: #fff;

  font-size: 13px;
}

/**************************/

section.filter-results {

  position: relative;

  float: left;

  width: 100%;

  padding: 90px 0px;

  z-index: 1;
}

section.filter-results:before {

  content: "";

  position: absolute;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;
}


section.filter-results:after {

  position: absolute;

  width: 100%;

  height: 100%;

  content: "";

  background: rgba(10, 18, 50, 0.75);

  z-index: -1;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  transform-origin: top left;

  transform: skewY(3deg);
}

section.filter-results h2.heading {

  color: #fff;

  text-align: center;

  text-transform: uppercase;

  margin-bottom: 30px;
}

section.filter-results .list-cntnt {

  position: relative;

  float: left;

  width: 100%;

  background-color: #fff;

  padding: 10px;

  border-radius: 10px;

  margin-bottom: 20px;
}


section.filter-results .list-cntnt .img-box {

  position: relative;

  float: left;

  width: 35%;

  padding-top: 35%;

  overflow: hidden;

  border-radius: 10px;
}

section.filter-results .list-cntnt .img-box img {

  width: 100%;

  border-radius: 10px;

  position: absolute;

  top: 0;
}

section.filter-results .list-cntnt .dtls {

  position: relative;

  float: left;

  width: 65%;

  padding: 0px 10px;

  padding-top: 10px;
}

section.filter-results .list-cntnt .dtls h4.name {

  font-size: 16px;

  font-weight: 700;

  text-transform: uppercase;
}

section.filter-results .list-cntnt .dtls h5.cntry {

  font-size: 11px;

  margin-top: 7px;
}

section.filter-results .list-cntnt .dtls p.descri {

  margin-top: 5px;

  text-align: justify;

  height: 85px;

  overflow-y: hidden;
}

section.filter-results .list-cntnt .dtls p.days {

  margin-top: 5px;

  font-weight: 600;

  text-transform: uppercase;
}

section.filter-results .list-cntnt .dtls p.price {

  font-size: 16px;

  color: #ff6300;

  font-weight: 600;
}

section.filter-results .list-cntnt .dtls ul {

  margin-top: 10px;
}

section.filter-results .list-cntnt .dtls ul li {

  display: inline-block;

  position: relative;

  float: left;
}

section.filter-results .list-cntnt .dtls ul li a {

  display: block;

  position: relative;

  padding: 7px 5px;

  background-color: #ff6300;

  color: #fff;

  border-radius: 3px;

  width: 100%;

  margin: 0 auto;

  text-align: center;
}

/*car and bike rental*/



section.filter-bar.car-bike-filter {

  background-color: #fff;

  margin-bottom: 50px;
}


section.filter-results .moto-list {

  position: relative;

  float: left;

  width: 100%;

  background-color: #fff;

  padding: 10px;

  border-radius: 10px;

  margin-bottom: 20px;
}


section.filter-results .moto-list .img-box {

  position: relative;

  float: left;

  width: 35%;

  padding-top: 35%;

  overflow: hidden;

  border-radius: 10px;
}

section.filter-results .moto-list .img-box img {

  width: 100%;

  border-radius: 10px;

  position: absolute;

  top: 0;
}

section.filter-results .moto-list .dtls {

  position: relative;

  float: left;

  width: 65%;

  padding: 0px 10px;

  padding-top: 10px;
}

section.filter-results .moto-list .dtls h4.name {

  font-size: 16px;

  font-weight: 700;

  text-transform: uppercase;
}

section.filter-results .moto-list .dtls h5.cntry {

  font-size: 11px;

  margin-top: 7px;
}

section.filter-results .moto-list .dtls p.descri {

  margin-top: 5px;

  text-align: justify;

  height: 85px;

  overflow-y: hidden;
}

section.filter-results .moto-list .dtls p.days {

  margin-top: 5px;

  font-weight: 600;

  text-transform: uppercase;
}

section.filter-results .moto-list .dtls p.price {

  font-size: 16px;

  color: #ff6300;

  font-weight: 600;
}

section.filter-results .moto-list .dtls ul {

  margin-top: 10px;
}

section.filter-results .moto-list .dtls ul li {

  display: inline-block;

  position: relative;

  float: left;
}

section.filter-results .moto-list .dtls ul li a {

  display: block;

  position: relative;

  padding: 7px 5px;

  background-color: #ff6300;

  color: #fff;

  border-radius: 3px;

  width: 100%;

  margin: 0 auto;

  text-align: center;
}

/*tours*/

section.filter-results .filter-bar {

  background-color: #fff;

  margin-bottom: 50px;
}

/*tour-details*/

section.inner-banner {

  position: relative;

  float: left;

  width: 100%;

  height: 450px;

  background-image: url(../images/detail-pge.png);

  background-size: cover;

  background-repeat: no-repeat;

  background-position: center;
}

section.inner-banner:before {

  position: absolute;

  content: "";

  background-color: rgba(255, 99, 0, 0.50);

  top: 0;

  left: 0;

  right: 0;

  bottom: 50%;
}

section.inner-banner:after {

  position: absolute;

  content: "";

  background-color: rgba(22, 40, 112, 0.50);

  top: 50%;

  left: 0;

  right: 0;

  bottom: 0%;
}

section.inner-banner h3 {

  font-size: 50px;

  color: #fff;

  font-weight: 700;

  position: absolute;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);

  z-index: 1;

}

section.tour-details {

  position: relative;

  float: left;

  width: 100%;

  padding: 50px 0px;

  z-index: 2;
}

section.tour-details h2 {

  font-size: 30px;

  color: #162870;

  font-weight: 700;
}

section.tour-details .star-ratings-css {

  position: relative;

  float: left;

  width: 100%;

  height: 16px;

  padding: 0px;

  margin: 10px 0px;

  clear: both;
}


section.tour-details .star-ratings-css-top {

  display: block;

  position: absolute;

  top: 0;

  left: 0;

  color: #feaa04;

  padding: 0;

  overflow: hidden;

  z-index: 1;
}

section.tour-details .star-ratings-css-top .fa {

  color: #feaa04;

  font-size: 16px;
}

section.tour-details .star-ratings-css-bottom {

  padding: 0;

  display: block;

  z-index: 0;
}

section.tour-details .star-ratings-css-bottom .fa {

  color: #feaa04;

  font-size: 16px;
}

section.tour-details p.price {

  float: right;

  width: 100%;

  font-size: 30px;

  font-weight: 700;

  color: #ff6300;

  text-align: right;
}

section.tour-details a.book-btn {

  float: right;

  width: 100%;

  font-weight: 600;

  color: #fff;

  text-transform: uppercase;

  background-color: #ff6300;

  max-width: 130px;

  font-size: 16px;
}

/**/

section.tour-details .detl-tabs {

  position: relative;

  float: left;

  width: 100%;

  margin-top: 20px;
}

section.tour-details .detl-tabs .nav-tabs {

  border-bottom: 0px;
}

section.tour-details .detl-tabs .nav-tabs>li>a {

  color: #162870;

  font-weight: 700;

  text-transform: uppercase;

  border: 1px solid #ddd;

  /*border-top: 3px solid transparent;*/

}

section.tour-details .detl-tabs .nav-tabs>li.active>a,
section.tour-details .detl-tabs .nav-tabs>li.active>a:hover,
section.tour-details .detl-tabs .nav-tabs>li.active>a:focus {

  color: #162870;

  font-weight: 700;

  text-transform: uppercase;

  border-top: 3px solid #ff6300;
}

section.tour-details .detl-tabs .tab-content>.tab-pane {

  float: left;

  width: 100%;

  padding: 15px;

  color: #666;

  border: 1px solid #ccc;
}

section.tour-details .detl-tabs .tab-content>.tab-pane p {

  line-height: 1.8em;
}

section.tour-details .detl-tabs .tab-content>.tab-pane ul {

  margin-top: 30px;

  width: 85%;
}

section.tour-details .detl-tabs .tab-content>.tab-pane ul li {

  position: relative;

  float: left;

  width: 100%;

  padding: 10px;

  padding-left: 200px;

  border-bottom: 1px solid #ccc;
}

section.tour-details .detl-tabs .tab-content>.tab-pane ul li:last-child {

  border-bottom: 0px;
}

section.tour-details .detl-tabs .tab-content>.tab-pane ul li label {

  position: absolute;

  top: 10px;

  left: 10px;

  font-size: 16px;

  line-height: 1.8em;

  color: #ff6300;

  font-weight: 600;

  max-width: 180px;
}

section.tour-details .detl-tabs .tab-content>.tab-pane ul li iframe {

  width: 100%;

  height: 250px;
}

/*detail reviews*/

section.tour-details ul.reviews {

  position: relative;

  float: left;

  width: 100%;
}

section.tour-details ul.reviews li {

  padding-left: 0px !important;
}

section.tour-details ul.reviews li figure {

  width: 50px;

  height: 50px;

  float: left;

  border-radius: 50%;

  overflow: hidden;

  margin-right: 10px;

  border: 1px solid #ccc;
}

section.tour-details ul.reviews li figure img {

  width: 100%;
}

section.tour-details ul.reviews li p.person {

  font-weight: 600;

  color: #162870;
}

/**/

section.tour-details .write-review {

  position: relative;

  float: left;

  width: 100%;

  background-color: #e5e5e5;

  padding: 10px;

  margin-top: 15px;
}

section.tour-details .write-review h3 {

  font-size: 24px;

  font-weight: 700;

  color: #333;

  text-align: center;

  margin-top: 15px;
}

section.tour-details .write-review ul {

  width: 100% !important;

  margin-top: 0px !important;
}

section.tour-details .write-review li {

  padding-left: 10px !important;

  border-bottom: 0px !important;
}

section.tour-details .write-review li label {

  position: relative !important;

  float: left;

  color: #333 !important;

  top: unset !important;

  left: unset !important;
}


section.tour-details .write-review li input {

  width: 100%;

  min-height: 35px;

  padding-left: 10px;
}

section.tour-details .write-review li textarea {

  width: 100%;

  min-height: 100px;

  padding-left: 10px;
}

section.tour-details .write-review li a.btn {

  float: right;

  width: 100%;

  font-weight: 600;

  color: #fff;

  background-color: #ff6300;

  max-width: 130px;

  font-size: 16px;
}


/**/


section.tour-details ul.itinerary {

  width: 100% !important;

  margin-top: 60px;
}

section.tour-details ul.itinerary li {

  padding: 0px !important;

  border-bottom: 0px !important;
}

section.tour-details ul.itinerary li:last-child {

  height: 30px;
}

section.tour-details ul.itinerary li div {

  position: relative;

  width: 100%;

  height: 200px;

  max-width: 400px;

  margin: 0 auto;
}


section.tour-details ul.itinerary li div span.dayce {

  position: relative;

  float: left;

  width: 100%;

  margin: 0 auto;

  margin-top: -35px;
}

section.tour-details ul.itinerary li div span.dayce .day {

  color: #ff6300;

  font-weight: 700;

  font-size: 16px;
}

section.tour-details ul.itinerary li div span.dayce .place {

  color: #858083;

  font-weight: 700;

  font-size: 16px;
}

section.tour-details ul.itinerary li div figure {

  position: absolute;

  width: 40px;

  height: 54px;

  top: -35px;

  background-repeat: no-repeat;

  background-size: 100%;

  text-align: center;

  line-height: 50px;

  font-size: 20px;

  color: #fff;

  font-weight: 700;
}


section.tour-details ul.itinerary li:nth-child(n) div {

  height: 150px;

  background-image: url(../images/road-mid-l.png);

  background-position: center;

  background-repeat: no-repeat;

  background-size: contain;
}

section.tour-details ul.itinerary li:nth-child(n) div figure {

  background-image: url(../images/round.png);

  width: 50px;

  left: 80px;

  right: unset;
}

section.tour-details ul.itinerary li:nth-child(n) div span.dayce {

  padding-left: 140px;

  padding-right: 0px;

  text-align: left;
}

section.tour-details ul.itinerary li:nth-child(2n) div {

  height: 150px;

  background-image: url(../images/road-mid-r.png);

  background-position: center;

  background-repeat: no-repeat;

  background-size: contain;
}

section.tour-details ul.itinerary li:nth-child(2n) div figure {

  background-image: url(../images/round.png);

  width: 50px;

  right: 80px;

  left: unset;
}

section.tour-details ul.itinerary li:nth-child(2n) div span.dayce {

  padding-right: 140px;

  padding-left: 0px;

  text-align: right;
}


section.tour-details ul.itinerary li:first-child div {

  height: 225px;

  background-image: url(../images/road-top.png);

  background-position: center;

  background-repeat: no-repeat;

  background-size: contain;
}

section.tour-details ul.itinerary li:first-child div figure {

  background-image: url(../images/location.png);

  width: 38px;

  left: 80px;
}

section.tour-details ul.itinerary li:nth-child(n):nth-last-child(2) div {

  height: 225px;

  background-image: url(../images/road-bot-l.png);
}

section.tour-details ul.itinerary li:nth-child(2n):nth-last-child(2) div {

  height: 245px;

  background-image: url(../images/road-bot-r.png);
}


section.tour-details ul.itinerary li:last-child div {

  background-image: unset;
}

section.tour-details ul.itinerary li:last-child div span.dayce {

  margin-top: -100px;
}

section.tour-details ul.itinerary li:last-child div figure {

  margin-top: -60px;
}

/**/

section.tour-details ul.itinerary li div.content {

  top: -45px;

  background-image: unset !important;

  width: 350px;

  margin: 0;

  padding: 10px;
}

section.tour-details ul.itinerary li div.content a {

  position: relative;

  float: left;

  width: 70px;

  height: 70px;

  border-radius: 50%;

  overflow: hidden;

  margin-right: 10px;

  background-size: cover;

  background-repeat: no-repeat;
}

section.tour-details ul.itinerary li div.content span.place-text {

  /*	display: block;

	float: left;

	max-height: 150px;

	overflow-y: scroll;*/
}



section.tour-details ul.itinerary li div.content span.place-text p {

  margin-left: 10px;

  max-height: 225px;

  /*	overflow-y: hidden;*/

}

section.tour-details ul.itinerary li:nth-child(2n) div div.content span.place-text p {

  margin-right: 10px;

  margin-left: unset;

}

section.tour-details ul.itinerary li:nth-child(n) div div.content {

  left: -350px;

  right: unset;

  float: left;

  position: absolute;

}

section.tour-details ul.itinerary li:nth-child(2n) div div.content {

  right: -350px;

  left: unset;

  float: right;

  position: absolute;

  text-align: justify;

}

section.tour-details ul.itinerary li:nth-child(n) div div.content .cntnt-over {

  float: right;
}

section.tour-details ul.itinerary li:nth-child(2n) div div.content .cntnt-over {

  float: left;
}

/**/

.modal-dialog {

  max-width: 450px;
}

.booking-modal .modal-content {

  background-color: #fff;

  float: left;

  padding: 20px 15px;
}

.booking-modal .modal-content li.calendar span {

  position: absolute;

  bottom: 17px;

  right: 15px;

  width: 14px;

  height: 20px;

  background-image: url(../images/calendar.png);

  background-size: 14px;

  background-repeat: no-repeat;

  background-position-x: 90%;
}

.booking-modal .modal-content label {

  width: 100%;

  float: left;

  color: #333;

  font-weight: 600;

  margin-bottom: 5px;
}

.booking-modal .modal-content input {

  width: 100%;

  float: left;

  margin-bottom: 15px;

  height: 30px;

  border-radius: 3px;

  border: 1px solid #ccc;

  padding-left: 10px;
}

.booking-modal .modal-content a.booknow {

  padding: 7px 20px;

  background-color: #ff6300;

  color: #fff;

  float: right;

  margin-right: 10px;

  margin-top: 20px;

  width: 170px;

  text-transform: uppercase;
}

.datepicker-top-left,
.datepicker-top-right {

  z-index: 9999 !important;
}

/**/

section.about-pge {

  position: relative;

  float: left;

  width: 100%;

  padding: 90px 0px;

  z-index: 1;
}

section.about-pge h2.heading {

  color: #fff;

  text-align: center;

  text-transform: uppercase;

  margin-bottom: 30px;
}

section.about-pge:before {

  content: "";

  position: absolute;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;
}

section.about-pge:after {

  position: absolute;

  width: 100%;

  height: 100%;

  content: "";

  background: rgba(10, 18, 50, 0.75);

  z-index: -1;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  transform-origin: top left;

  transform: skewY(3deg);
}

section.about-pge h3 {

  color: #fff;

  font-size: 18px;

  text-align: center;

  text-transform: uppercase;

  margin-bottom: 15px;

  font-weight: 600;

  line-height: 1.3em;
}


section.about-pge p {

  color: #fff;

  text-align: justify;
}

/**/

section.contact-map {

  position: relative;

  float: left;

  width: 100%;
}

section.contact-map iframe {

  width: 100%;

  height: 350px;
}

/**/



section.car-bike-pge {

  position: relative;

  float: left;

  width: 100%;

  padding: 90px 0px;

  z-index: 1;
}

section.car-bike-pge h2.heading {

  color: #fff;

  text-align: center;

  text-transform: uppercase;

  margin-bottom: 30px;
}

section.car-bike-pge:before {

  content: "";

  position: absolute;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;
}

section.car-bike-pge:after {

  position: absolute;

  width: 100%;

  height: 100%;

  content: "";

  background: rgba(10, 18, 50, 0.75);

  z-index: -1;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  transform-origin: top left;

  transform: skewY(3deg);
}

section.car-bike-pge h3 {

  color: #fff;

  font-size: 18px;

  text-align: center;

  text-transform: uppercase;

  margin-bottom: 15px;

  font-weight: 600;

  line-height: 1.3em;
}


section.car-bike-pge p {

  color: #fff;

  text-align: justify;
}

section.car-bike-pge figure {

  width: 30%;

  float: left;

  background-color: #fff;

  border-radius: 15px;
}

section.car-bike-pge figure img {

  width: 100%;
}

section.car-bike-pge .other {

  position: relative;

  width: 70%;

  float: left;

  padding-left: 40px;
}

section.car-bike-pge .other li {

  color: #fff;

  line-height: 30px;

  font-size: 16px;
}

section.car-bike-pge .other li span {

  font-weight: 700;

  min-width: 150px;

  margin-right: 10px;

  color: #ff6801;

}

section.car-bike-pge .other li em.price {

  font-size: 20px;

  font-weight: 600;
}

section.car-bike-pge .other li a {

  display: block;

  position: relative;

  float: left;

  padding: 7px 5px;

  background-color: #ff6300;

  color: #fff;

  border-radius: 3px;

  width: 100%;

  text-align: center;

  margin-top: 20px;

  max-width: 150px;
}

.inputError {
  border-color: red !important;
}

.SingleDatePicker_picker {
  z-index: 999 !important;
}

.DateInput {
  width: 170px !important;
}

.btnFilter {
  background-color: #ff6300;
  color: #fff;
  width: 100%;
}

.btnContact {
  background-color: #ff6300;
  color: #fff;
  float: right;
}



  {
  box-sizing: border-box;
}


.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}


.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


.chat-container {
  width: 300px;
  padding: 10px;
  background-color: white;
}


.chat-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  
}


.chat-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}


.chat-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}


.chat-container .cancel {
  background-color: red;
}


.chat-container .btn:hover,
.open-button:hover {
  opacity: 1;
}


.chat-popup {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 0;
}

.chat-history ul li {
  margin-bottom: 15px;
  width: 100%;
}