.footer div {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.paper2 {
  display: flex;
  padding: 16px;
  overflow: auto;
  flex-direction: column;
}

.paper12 {
  display: flex;
  margin-top: 64px;
  align-items: center;
  flex-direction: column;
}

.avatar2 {
  margin: 8px;
  background-color: #f50057 !important;
}
